.content {
  margin-top: 32px;
}

.page {
  height: 100%;
  margin: auto;
  max-width: 1000px;
  padding-top: 0;
  text-align: center;
}

body {
  background: #0E1F35;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
