hr {
  background: #FFF;
  width: 60%;
}

input {
  border-radius: 5px;
  border-width: 1px;
  height: 65%;
  vertical-align: middle;
}

.add-input {
  margin-top: 15px;
}

.add-section-icon {
  color: #FFF;
  cursor: pointer;
  float: left;
  transform: none;
  transition: 0.5s all;
  width: 32px;
}

.menu-icon {
  color: #FFF;
  cursor: pointer;
  float: right;
  width: 32px;
}

.dropdown-popper {
background: linear-gradient(to bottom right, #3d4877, #1e2542) !important;
}

.rotate {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari 3-8 */
  transform: rotate(45deg);
}

.sub-title {
  display: block;
  font-size: 18px;
}

.title {
  color: #FFF;
  margin: 16px;
}
