hr {
  background: #FFF;
  width: 60%;
}

input {
  border-radius: 5px;
  border-width: 1px;
  height: 65%;
  vertical-align: middle;
}

.add-input {
  margin-top: 15px;
}

.add-section-icon {
  color: #FFF;
  cursor: pointer;
  float: left;
  transform: none;
  transition: 0.5s all;
  width: 32px;
}

.header .MuiFormLabel-root,
.header .MuiOutlinedInput-input,
.header .MuiOutlinedInput-notchedOutline,
.header .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
.header .MuiOutlinedInput-root:active .MuiOutlinedInput-notchedOutline,
.header .MuiSvgIcon-root {
  border-color: #FFF;
  color: #FFF;
}

.menu-icon {
  color: #FFF;
  cursor: pointer;
  float: right;
  width: 32px;
}

.rotate {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Safari 3-8 */
  transform: rotate(45deg);
}

.title {
  color: #FFF;
  margin: 16px;
}
