.back-arrow {
    cursor: pointer;
    float: left;
    font-size: 32px;
    padding: 10px 0 0 10px;
    position: absolute !important;
}

.currency-selector .MuiAutocomplete-popper {
    margin-top: 56px;
    margin-left: auto;
    width: 100% !important;
}

.MuiDrawer-paper {
    width: 80%;
}

@media only screen and (min-width: 768px) {
    .MuiDrawer-paper {
        width: 50%;
    }
}

.MuiListItem-root img,
.MuiSelect-select img{
    height: 50px;
}

.settings-panel .col-12 {
    margin-top: 15px;
}

.settings-panel .MuiFormControl-root,
.settings-panel .MuiDataGrid-root {
    width: 90%;
    margin: auto;
}

.settings-panel input {
    height: 38px;
    width: 100%;
}

.settings-panel .row {
    margin-top: 15px;
}

.settings-title {
    padding-top: 10px;
}